{% comment %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
</head>
{% endcomment %}

<head>
  {% comment %}
  <!--<script type="text/javascript">
      var host = "www.burgermeiszter.com";
      if ((host == window.location.host) && (window.location.protocol != "https:"))
          window.location.protocol = "https:";
  </script>-->
  {% endcomment %}

  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" name="description">
  <meta content="php symfony javascript mysql docker node.js nottingham" name="keywords">
  <meta content="{% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %}" name="author">
  <meta content="Zoltan Burgermeiszter - PHP Developer" property="og:title">
  <meta content="Zoltan Burgermeiszter - PHP Developer" property="og:description">
  <meta content="https://www.burgermeiszter.com" property="og:url">
  <meta content="Zoltan Burgermeiszter - PHP Developer" property="og:site_name">
  <meta content="https://www.burgermeiszter.com/images/avatar/zoltan.burgermeiszter.jpg" property="og:image">
  <meta content="Zoltan Burgermeiszter - PHP Developer" name="twitter:card">
  <meta content="@zburgermeiszter" name="twitter:site">
  <meta content="@zburgermeiszter" name="twitter:creator">
  <meta content="Zoltan Burgermeiszter - PHP Developer" name="twitter:title">
  <meta content="Zoltan Burgermeiszter - PHP Developer" name="twitter:description">
  <meta content="https://www.burgermeiszter.com/images/avatar/zoltan.burgermeiszter.jpg" name="twitter:image:src">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <!-- Bootstrap -->
  <link href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}" rel="stylesheet">
  <!-- Material Design Icons -->
  <link href="{{ "/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css" | prepend: site.baseurl }}" rel="stylesheet">
  <!-- Font Awesome -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <!-- Ionicons -->
  <link href="{{ "/fonts/ionicons/css/ionicons.min.css" | prepend: site.baseurl }}" rel="stylesheet">
  <!-- DevIcons -->
  <link href='{{ "https://cdnjs.cloudflare.com/ajax/libs/devicons/1.8.0/css/devicons.min.css" | prepend: site.baseurl }}' rel='stylesheet'>
  <!-- Owl Carousel -->
  <link href="{{ "/css/owl.carousel.css" | prepend: site.baseurl }}" rel="stylesheet">
  <link href="{{ "/css/owl.theme.default.css" | prepend: site.baseurl }}" rel="stylesheet">
  <!-- Style.css -->
  <link data-color="#3F51B5" href="{{ "/color/indigo.css" | prepend: site.baseurl }}" rel="stylesheet" title="indigo" type="text/css">
  <link href="{{ "/css/custom.css" | prepend: site.baseurl }}" rel="stylesheet">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>