---
---
{% comment %}
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>{% endcomment %}
<!DOCTYPE html>

<html lang="en">

  {% include head.html %}

<body>

  {% include header.html %}

  <!-- Sections -->
  <div class="sections">
    <div class="sections-wrapper clearfix">
      {{ content }}
    </div>
    <!-- end .sections-wrapper -->
  </div>
  <!-- end .sections -->

 {% include footer.html %}

</body>
</html>